# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.pdf
*.aux
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.xdv
missfont.log


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.ods
