@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-void: #030303;
  --accent-glitch: #ff003c;
  --accent-cyan: #00f0ff;
}

body, html   {
  background-color: var(--bg-void);
  color: #e0e0e0;
  font-family: 'Courier Prime', 'JetBrains Mono', monospace; /* 强制使用等宽字体营造机械感 */
  overflow-x: hidden;
}

* {
  cursor: none !important;
  /* 保留选择功能但隐藏选择时光标 */
}
/* 默认光标样式 */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: white; /* 默认实心白点 */
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference; /* 保持反色效果，在深色背景很明显 */
  transition: width 0.1s, height 0.1s, background-color 0.1s, border-radius 0.1s;
}

/* 隐藏滚动条但允许滚动 */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* 选中效果 */
::selection {
  background: var(--accent-glitch);
  color: white;
}
