@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-void: #030303;
  --accent-glitch: #ff003c;
  --accent-cyan: #00f0ff;
}

body, html   {
  background-color: var(--bg-void);
  color: #e0e0e0;
  font-family: 'Courier Prime', 'JetBrains Mono', monospace; /* 强制使用等宽字体营造机械感 */
  overflow-x: hidden;
}

* {
  cursor: none !important;
  /* 保留选择功能但隐藏选择时光标 */
}
/* 默认光标样式 */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: white; /* 默认实心白点 */
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference; /* 保持反色效果，在深色背景很明显 */
  transition: width 0.1s, height 0.1s, background-color 0.1s, border-radius 0.1s;
}

/* 准星模式 (Scope Mode) */
.custom-cursor.is-scope {
  width: 40px;  /* 准星大小 */
  height: 40px;
  background-color: transparent !important; /* 变空心 */
  border: 2px solid white; /* 边框颜色，这里用了 Tailwind 的 cyan-500，你可以改 */
  border-radius: 50%; /* 圆形 */
  mix-blend-mode: difference; /* 准星模式下建议取消反色，直接用高亮色，更像HUD */
  box-shadow: 0 0 10px white; /* 加一点发光 */
}

/* 利用伪元素画十字 */
.custom-cursor.is-scope::before,
.custom-cursor.is-scope::after {
  content: '';
  position: absolute;
  background-color: white; /* 十字颜色 */
  top: 50%;
  left: 50%;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

/* 横线 */
.custom-cursor.is-scope::before {
  width: 60%; /* 十字长度比例 */
  height: 2px;
}

/* 竖线 */
.custom-cursor.is-scope::after {
  width: 2px;
  height: 60%;
}

/* 隐藏滚动条但允许滚动 */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* 选中效果 */
::selection {
  background: var(--accent-glitch);
  color: white;
}
